@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 100%
}
*, *:before, *:after {
    box-sizing: inherit;
    color: white;
}
body {
    margin:0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    color:hsla(0,0%,0%,.8);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
    font-weight:400;
    word-wrap:break-word;
    font-kerning:normal;
    width:100%;
    height:100%;
}

button, input {
    outline: none;
}